
body{
    background-color: black;
    font-family:'Times New Roman', Times, serif;
    color:azure;
    padding: 20px;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{
    color: azure;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
nav a{
    color:azure;
    font-weight: bold;
    gap: 50px;
}
@media(min-width:768px){
    nav{
        flex-direction: row;
        gap: 30px;
    }
}

img{
    width: 300px;
    max-width: 100%;
    border-radius:  50px;
    margin: 20px;
}

video{
    width: 50%;
    background-color: rgb(10, 39, 10);
    padding: 15px;
}

table{
    border-collapse: collapse;
    margin-top: 20px;
}

th,td{
    border: 1px solid azure;
    padding: 10px;
}
th{
    background-color: rgb(84, 125, 82);
}
button{
    background-color: rgb(35, 71, 35);
    color: black;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
}
button:hover{
    background-color: limegreen;
    border-radius: 5px;
}
.grid-box{
    display: grid;
    grid-template-columns:  50% 50%;
    gap: 5px;
    margin-top: 30px;
}
.box{
    border: 1px solid azure;
    padding: 20px;
    text-align: center;
}
@media(min-width:1024px){
    .grid-box{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    }
}